.light-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: black;
	height: 100vh;

}

.dark-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(20, 20, 20);
	color: whitesmoke;
	height: 100vh;
}

.dark-mode #main {
	background-color: rgb(61, 119, 228, 1);
}

.dark-mode #input {
	background-color: rgb(122, 10, 10);
	color: rgb(246, 160, 160);
}

.dark-mode #messages {
	background-color: rgb(122, 10, 10);
	color: rgb(246, 160, 160);
}

.btTxt {
	position: absolute;
	left: 10px;
	top: 40px;
	width: 10%;
}

#main { 
	background-color: lightgrey;
    position: fixed; 
	width: 60%;
    top: 10%; 
	margin-left: 2rem;
	margin-right: 2rem;
}

#input {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
	/* TODO: make every other word green and red in the input box while user is typing. Will need Javascript */
}

#messages {
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 90%;
	max-height: 20rem;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

#robot-santa {
	height: 7rem;
	width: auto;
	margin: 10px;
}

.bot-response {
 	text-align: right;
	color: red;
}

.user-response {
	text-align: left;
	color: green;
}

.header {
	font-size: 30px;
	background-color: darkgreen;
	color: rgb(172, 0, 0);
	padding: 30px;
	margin: 30px;
	border-radius: 10px;
	width: 90%;
	text-align: center;
}